:root {
  --screen-color: #008000;
  --text-color: #b1fd00;
  --text-shadow-color: #e2ffb7;
  --buffer-color: #fdf900;
  --buffer-shadow-color: #fdfb88;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: var(--screen-color);
}

div {
  /* display: flex; */
  height: 100vh;
  width: 100vw;
  margin: 10px;
  outline: rebeccapurple solid 1px;
  transition: color 5s ease-in;
  letter-spacing: 0.5em;
  color: var(--text-color);
}

div p {
  word-wrap: break-word; /* Ensures long words will break onto the next line */
}

#console {
  text-shadow: 1px 1px 2px var(--text-shadow-color), 0 0 1em var(--text-shadow-color), 0 0 0.2em var(--text-shadow-color);
}

#buffer {
  color: blue;
  text-decoration: underline;
}

#cursor {
}

.blinking-cursor {
  color: var(--text-color);
  text-shadow: 1px 1px 2px var(--text-shadow-color), 0 0 1em var(--text-shadow-color), 0 0 0.2em var(--text-shadow-color);
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50% {
    visibility: visible; /* Fully visible */
  }
  50%, 100% {
    visibility: hidden; /* Hidden */
  }
}

.buffer-cursor {
  color: var(--buffer-color);
  text-shadow: 1px 1px 2px var(--buffer-shadow-color), 0 0 1em var(--text-shadow-color), 0 0 0.2em var(--text-shadow-color);
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

#scan {
  display: block;
  opacity: 80%;
  position: absolute;
  max-height: 200%;
  height: auto;
  width: auto;
  top: 0;
  left: 0;
  pointer-events: none;
}