body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional: Sets a light background color */
    overflow-x: hidden;
    overflow-y: hidden;
}

@font-face {
  font-family: odinRounded;
  src: url(../OdinRounded.otf);
}

#prize-text {
  font-family: odinRounded;
  font-weight: bold;
  -webkit-text-stroke: 2px black; /* width and color */
  font-size: 36px;
  color: white;
  position: fixed;
  bottom: 20px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

/* img {
    max-width: 100%;
    height: auto;
} */