*.pyc
*.log
*.jar
venv/
node_modules/
*.zip
puzzles.tsv
puzzles.json
config.txt
simple_puzzles/puzzles/bunnies/prizeTextMap.json
secretsmanager-win32-x64/chrome_100_percent.pak
secretsmanager-win32-x64/chrome_200_percent.pak
secretsmanager-win32-x64/d3dcompiler_47.dll
secretsmanager-win32-x64/ffmpeg.dll
secretsmanager-win32-x64/icudtl.dat
secretsmanager-win32-x64/libEGL.dll
secretsmanager-win32-x64/libGLESv2.dll
secretsmanager-win32-x64/LICENSE
secretsmanager-win32-x64/LICENSES.chromium.html
secretsmanager-win32-x64/resources.pak
secretsmanager-win32-x64/secretsmanager.exe
secretsmanager-win32-x64/snapshot_blob.bin
secretsmanager-win32-x64/v8_context_snapshot.bin
secretsmanager-win32-x64/version
secretsmanager-win32-x64/vk_swiftshader_icd.json
secretsmanager-win32-x64/vk_swiftshader.dll
secretsmanager-win32-x64/vulkan-1.dll
secretsmanager-win32-x64/locales/af.pak
secretsmanager-win32-x64/locales/am.pak
secretsmanager-win32-x64/locales/ar.pak
secretsmanager-win32-x64/locales/bg.pak
secretsmanager-win32-x64/locales/bn.pak
secretsmanager-win32-x64/locales/ca.pak
secretsmanager-win32-x64/locales/cs.pak
secretsmanager-win32-x64/locales/da.pak
secretsmanager-win32-x64/locales/de.pak
secretsmanager-win32-x64/locales/el.pak
secretsmanager-win32-x64/locales/en-GB.pak
secretsmanager-win32-x64/locales/en-US.pak
secretsmanager-win32-x64/locales/es-419.pak
secretsmanager-win32-x64/locales/es.pak
secretsmanager-win32-x64/locales/et.pak
secretsmanager-win32-x64/locales/fa.pak
secretsmanager-win32-x64/locales/fi.pak
secretsmanager-win32-x64/locales/fil.pak
secretsmanager-win32-x64/locales/fr.pak
secretsmanager-win32-x64/locales/gu.pak
secretsmanager-win32-x64/locales/he.pak
secretsmanager-win32-x64/locales/hi.pak
secretsmanager-win32-x64/locales/hr.pak
secretsmanager-win32-x64/locales/hu.pak
secretsmanager-win32-x64/locales/id.pak
secretsmanager-win32-x64/locales/it.pak
secretsmanager-win32-x64/locales/ja.pak
secretsmanager-win32-x64/locales/kn.pak
secretsmanager-win32-x64/locales/ko.pak
secretsmanager-win32-x64/locales/lt.pak
secretsmanager-win32-x64/locales/lv.pak
secretsmanager-win32-x64/locales/ml.pak
secretsmanager-win32-x64/locales/mr.pak
secretsmanager-win32-x64/locales/ms.pak
secretsmanager-win32-x64/locales/nb.pak
secretsmanager-win32-x64/locales/nl.pak
secretsmanager-win32-x64/locales/pl.pak
secretsmanager-win32-x64/locales/pt-BR.pak
secretsmanager-win32-x64/locales/pt-PT.pak
secretsmanager-win32-x64/locales/ro.pak
secretsmanager-win32-x64/locales/ru.pak
secretsmanager-win32-x64/locales/sk.pak
secretsmanager-win32-x64/locales/sl.pak
secretsmanager-win32-x64/locales/sr.pak
secretsmanager-win32-x64/locales/sv.pak
secretsmanager-win32-x64/locales/sw.pak
secretsmanager-win32-x64/locales/ta.pak
secretsmanager-win32-x64/locales/te.pak
secretsmanager-win32-x64/locales/th.pak
secretsmanager-win32-x64/locales/tr.pak
secretsmanager-win32-x64/locales/uk.pak
secretsmanager-win32-x64/locales/ur.pak
secretsmanager-win32-x64/locales/vi.pak
secretsmanager-win32-x64/locales/zh-CN.pak
secretsmanager-win32-x64/locales/zh-TW.pak
secretsmanager-win32-x64/resources/app/.eslintrc.json
secretsmanager-win32-x64/resources/app/.gitignore
secretsmanager-win32-x64/resources/app/.prettierrc.json
secretsmanager-win32-x64/resources/app/index.html
secretsmanager-win32-x64/resources/app/index.js
secretsmanager-win32-x64/resources/app/package.json
secretsmanager-win32-x64/resources/app/.vscode/settings.json
secretsmanager-win32-x64/resources/app/golden_path/arrowKeys.js
secretsmanager-win32-x64/resources/app/golden_path/GoldenPathManager.js
secretsmanager-win32-x64/resources/app/golden_path/validGoldenPaths.js
secretsmanager-win32-x64/resources/app/witness/puzzlesList.js
secretsmanager-win32-x64/resources/app/witness/WitnessManager.js
secretsmanager-win32-x64/resources/app/witness/data/Constantia.eot
secretsmanager-win32-x64/resources/app/witness/data/Constantia.otf
secretsmanager-win32-x64/resources/app/witness/data/Constantia.ttf
secretsmanager-win32-x64/resources/app/witness/data/Constantia.woff2
secretsmanager-win32-x64/resources/app/witness/data/favicon_double.png
secretsmanager-win32-x64/resources/app/witness/data/favicon_full.png
secretsmanager-win32-x64/resources/app/witness/data/favicon_half.png
secretsmanager-win32-x64/resources/app/witness/data/favicon.png
secretsmanager-win32-x64/resources/app/witness/data/favicon.psd
secretsmanager-win32-x64/resources/app/witness/data/panel_abort_tracing.aac
secretsmanager-win32-x64/resources/app/witness/data/panel_abort_tracing.ogg
secretsmanager-win32-x64/resources/app/witness/data/panel_failure.aac
secretsmanager-win32-x64/resources/app/witness/data/panel_failure.ogg
secretsmanager-win32-x64/resources/app/witness/data/panel_start_tracing.aac
secretsmanager-win32-x64/resources/app/witness/data/panel_start_tracing.ogg
secretsmanager-win32-x64/resources/app/witness/data/panel_success.aac
secretsmanager-win32-x64/resources/app/witness/data/panel_success.ogg
secretsmanager-win32-x64/resources/app/witness/data/slider.png
secretsmanager-win32-x64/resources/app/witness/data/slider.psd
secretsmanager-win32-x64/resources/app/witness/data/style.css
secretsmanager-win32-x64/resources/app/witness/engine/custom_mechanics.js
secretsmanager-win32-x64/resources/app/witness/engine/display2.js
secretsmanager-win32-x64/resources/app/witness/engine/polyominos.js
secretsmanager-win32-x64/resources/app/witness/engine/puzzle.js
secretsmanager-win32-x64/resources/app/witness/engine/serializer.js
secretsmanager-win32-x64/resources/app/witness/engine/solve.js
secretsmanager-win32-x64/resources/app/witness/engine/svg.js
secretsmanager-win32-x64/resources/app/witness/engine/trace2.js
secretsmanager-win32-x64/resources/app/witness/engine/utilities.js
secretsmanager-win32-x64/resources/app/witness/engine/validate.js
secretsmanager-win32-x64/resources/app/witness/get_universal_time/index.html
secretsmanager-win32-x64/resources/app/witness/play/NEEV6DHM.html
secretsmanager-win32-x64/resources/app/witness/play/T6NB5ZNN.html
secretsmanager-win32-x64/resources/app/witness/play/XLUMVWBS.html
secretsmanager-win32-x64/resources/app/witness/talos/autosize.js
secretsmanager-win32-x64/resources/app/witness/talos/paint_3_from_4.js
secretsmanager-win32-x64/resources/app/witness/talos/paint3.html
secretsmanager-win32-x64/resources/app/witness/talos/paint4.html
/secretsmanager-win32-x64
