body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional: Sets a light background color */
    overflow-x: hidden;
    overflow-y: hidden;
}

.frog-jump-container {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: vertical-move 4s infinite;
}
.frog-horizontal-container {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: horizontal-move 4s ease-in-out infinite;
}
#frog {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 16px;
  height: 14px;
  transform-origin: center; /* Ensure rotation is centered */
  animation: rot-move 4s ease-in-out infinite;
}

@keyframes horizontal-move {
  0%, 10% { transform: translateX(208px); }
  40%, 50% { transform: translateX(80px); }
  70%, 80% { transform: translateX(144px); }
  100% { transform: translateX(208px); }
}

@keyframes rot-move {
  0%, 15% { transform: rotate(0deg); }
  35%, 55% { transform: rotate(1080deg); }
  68%, 85% { transform: rotate(720deg); }
  100% { transform: rotate(720deg); }
}

@keyframes vertical-move {
  0%, 10% { transform: translateY(-16px); }
  25% { 
    transform: translateY(-130px);
    animation-timing-function: ease-out;
  }
  40%, 50% { 
    transform: translateY(-16px); 
    animation-timing-function: ease-in;
  }
  60% { transform: translateY(-90px); }
  70%, 80% { 
    transform: translateY(-16px); 
    animation-timing-function: ease-out;
  }
  90% { 
    transform: translateY(-100px); 
    animation-timing-function: ease-in;
  }
  100% { transform: translateY(-16px); }
}
  /* animation: jump-animation 4s ease-in-out infinite;
}

@keyframes jump-animation {
  0% { transform: translate(0, 0); }
  12.5% { transform: translate(20px, -100px); }
  25% { transform: translate(40px, 0); }
  37.5% { transform: translate(80px, -100px); }
  50% { transform: translate(120px, 0); }
  62.5% { transform: translate(90px, -100px); }
  75% { transform: translate(60px, 0); }
  87.5% { transform: translate(30px, -100px); }
  100% { transform: translate(0, 0); }
} */